.navbar{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
}
.anchor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-image{
    height: 80px;
    width: 80px;
}
.bisnes{
    font-weight: bold;
}

nav .navbar-collapse.collapse{
    display: block;
}
@media (max-width:767px) {
    nav .navbar-collapse.collapse{
        overflow: hidden;
    }
    nav .navbar-collapse.active{
        height: 30vh !important;
    }
}
nav .navbar-collapse{
    transition: .5s all ease-in-out;
    height: 0 !important;
}
